---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    {% if forloop.first %}
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.excerpt }}

      <a href="{{site.baseurl}}{{ post.url }}">Read more ➞</a>
    {% else %}
      <h3 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }} ➞
        </a>
      </h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
