<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {{- partialCached "styles.html" . -}}

    {{ block "meta_tags" . }}
      {{ if .Params.description }}<meta name="description" content="{{ .Params.description }}"/>{{ end }}
      <meta property="og:title" content="{{ .Title }}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="{{ .Permalink }}"/>
      {{ if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}"/>{{ end }}
      {{ if .Params.description }}<meta property="og:description" content="{{ .Params.description }}"/>{{ end }}

      <meta name="twitter:card" content="summary"/>
      {{ if .Site.Params.twitterHandle }}<meta name="twitter:site" content="{{ .Site.Params.twitterHandle }}"/>{{ end }}
      {{ if .Site.Params.twitterHandle }}<meta name="twitter:creator" content="{{ .Site.Params.twitterHandle }}"/>{{ end }}

      {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{ end -}}
    {{ end }}
  </head>
  {{ if .Params.cover }}
    <body class="text-gray-900 leading-normal tracking-wider bg-cover" style="background-image:url('https://source.unsplash.com/X1oAPDcxFIg');">
  {{ else }}
    <body>
  {{ end }}

    {{ block "main" . }}
    {{ end }}
    {{ block "scripts" . }}
    {{ end }}
  </body>
</html>