{{ define "main" }}
  {{ partial "header.html" . }}

  <div class="mx-auto lg:w-7/12 px-4 mb-4 lg:p-0">
    {{ if .Params.description }}
      <p class="p-4 mb-4 text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-200 dark:text-gray-800">
        {{ .Params.description }}
      </p>
    {{ end }}

    {{ range .Pages.GroupByDate "2006" }}
      <h2 class="py-2 font-extrabold text-2xl">{{ .Key }}</h3>
      {{ range .Pages }}
        <article class="py-4">
          <div class="lg:flex items-center mb-2">
            <h1 class="lg:mr-auto font-extrabold text-xl">
              <a href="{{ .RelPermalink }}" class="text-green-700 hover:underline hover:text-green-900">{{ .Title }}</a>
            </h1>

            <span class="bg-gray-100 text-gray-800 border border-gray-200 text-xs font-bold inline-flex items-center px-2.5 py-0.5 rounded mr-2 lg:ml-4 whitespace-nowrap">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
              </svg>
              {{ dateFormat "Jan 2, 2006" .Date }}
            </span>
          </div>
          {{ if .Params.description }}
            <p>{{ .Params.description }}</p>
          {{ end }}
        </article>
      {{ end }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
{{ end }}