:root {
  --main-width: 1024px; /* overrides default of 780px */
  --theme-main-color: rgb(21, 128, 61);
}

.header-title {
  position: relative;
  padding-left: 56px;
}

.header-title::before {
  content:"";
  position:absolute;
  border-radius: .25em;
  background-image: url("/images/2024.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  height: 48px;
  width: 48px;
  top: calc(50% - 24px);
  left: 0;
}

.social-icons a {
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: .375em;
  padding: .25em;
}

.social-icons a:hover {
  background-color: var(--theme-main-color);
  color: #fff;
}

.intro a,
.small > a {
  color:  var(--theme-main-color);
}

.line-title > a,
.single-content a,
.single-pagination-text > a,
.pagination-control > a {
  color:  var(--theme-main-color);
}
.line-title > a {
  font-weight: bold;
}

p > code,
li > code {
  white-space: nowrap;
  border-radius: .375rem;
  background-color: rgb(229, 231, 235);
  padding: .4rem;
  font-size: .875rem;
  line-height: 1.25rem;
}
