:root {
  --custom-link-color: #af4849;
  --custom-lighter-link-color: #C96263;
  --custom-darker-link-color: #962F30;
}

a:hover,
a:active {
    color: var(--custom-link-color);
}

.sidebar .logo-title .title h3,
.post .post-title h3 {
  text-transform: none;
}

.fadeInDown {
  animation-name: none;
}

.sidebar .logo-title .title a,
.post .post-title a,
.post .post-content a,
.list-with-title .listing .listing-post a {
  color: var(--custom-link-color);
}

.sidebar .logo-title .title a:hover,
.sidebar .social-links a:hover,
.post .post-title a:hover,
.post .post-content a:hover,
.list-with-title .listing .listing-post a:hover,
.page-top .nav a:hover {
  color: var(--custom-darker-link-color);
}

.page-top .nav a.current {
  position: relative;
  font-weight: bold;
  color: var(--custom-link-color);
  border-bottom-color: var(--custom-link-color);
}

.page-top .nav a.current::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--custom-link-color);
}

ul > li {
  margin: .5em 0;
}

.post .post-footer .meta .info .date { margin-left: 10px; }

html[data-theme="light"] .highlight > pre {
  background-color: #f6f8fa !important;
  border: 1px solid #DDDFE1;
}

.highlight > pre {
  border-radius: 6px;
  padding: 16px;
}

@media screen and (min-width: 960px) {
  .sidebar { width: 30%; }

  .content, .page-top { width: 70%; }
}

.yt-iframe {
  display: block;
  margin: 3em auto;
}

.speakerdeck-embed-wrapper {
  width: calc(100% - 6em);
  margin: 3em auto;
}

.heading-with-icon {
  display: flex;
  align-items: center;
}

.heading-with-icon img {
  max-height: 1.5em;
  margin: 0 .5em 0 0;
}

html[data-theme="dark"] .heading-with-icon img {
  border-radius: 3px;
  border: 1px solid #000;
}

.heading-with-icon a {
  margin-right: .5em;
}

@media print {
  .social-links,
  .sidebar { display: none; }

  .content { margin-top: 0; }
}
