<h1 class="hidden print:block font-extrabold text-4xl">{{ .Title }}</h1>

<div class="text-lg">
  <img src="/images/lucas.jpg" alt="Lucas's face" class="w-40 h-40 rounded-full mb-4 mx-auto md:float-right md:w-64 md:h-64 md:mb-0 md:ml-4">

  <p>
    I’m a software engineer from São Paulo, Brazil with a decade of experience building systems and products with both 
    <a href="https://elixir-lang.org">Elixir</a> and <a href="http://www.ruby-lang.org">Ruby</a>.
  </p>

  <p>
    I've helped bootstrap new products, rewrite legacy codebases into new systems and build all kinds of end user features out there, and I've always had a deep interest on making software development easier through automation, development tools and monitoring.
  </p>

  <p>
    I like to work on small engineering teams that care about the quality of their work as much as
    its outcome, and always want to the best work they can do.
  </p>

    <p>
      You can find me at <a href="https://github.com/lucasmazza">GitHub</a>,
      <a href="https://twitter.com/lucasmazza">Twitter</a> or
      <a href="https://linkedin.com/in/lucasmazza/">LinkedIn</a>, and reach out via
      <a href="mailto:email@lucasmazza.website">e-mail</a> as well.
    </p>

    <p>Outside of work you can find me enjoying specialty coffee, having fun with my
      <a href="https://instagram.com/corgi.brulee">corgi</a> or baking some delicious deserts.
    </p>
</div>
<div class="clear-both"></div>