---
layout: default
---

<div class='post'>
  <h1 class='post-title'>{{ page.title }}</h1>
  <span class='post-date'>{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class='comments'>
  <h4>
    Have any feedback on this post? <br /> Let me know at
    <a href='https://twitter.com/lucasmazza' target='_blank'>@lucasmazza</a> on Twitter or
    <a href='https://github.com/lucasmazza/lucasmazza.github.io/issues/new?title=POST: {{ page.title }}' target='_blank'>start a discussion</a> on this blog GitHub repository.
  </h4>
</div>

<p class='tweet-this'>
  <a href='https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=lucasmazza' class='tweet-button' target='_blank'>
    Tweet this post
  </a>
</p>

<div class='related'>
  <h2>Related Posts</h2>
  <ul class='related-posts'>
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href='{{ site.baseurl }}{{ post.url }}'>
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
